@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    font-weight: 600;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #247BA0, #70C1B3);
}

section {
    width: 300px;
    height: 500px;
    background-image: linear-gradient(to bottom, #B2DBBF, #F3FFBD);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}

h1 {
    font-size: 2em;
    color: rgb(66, 66, 66);
}

div {
    background-color: white;
    padding: 10px;
    width: 98%;
    color: #FF1654;
    border-radius: 20px;
    margin: 10px;
}

p {
    padding: 10px;
}

.dados {
    width: 100px;
    height: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid black;
}



#enviar {
    transition: all 0.3s ease-in-out;
    font-family: "Arial", sans-serif;
    
  }
  
  #enviar {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: white;
  }
  
  #enviar:hover {
    transform: translateY(3px);
    box-shadow: none;
  }
  
  #enviar:active {
    opacity: 0.5;
  }