@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --cor01: #000A66;
    --cor02: #0012B3;
    --cor03: #4656EA;

    --font-padrao:'Ubuntu', sans-serif;
    --font-destaque: 'Roboto', sans-serif;
    
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-padrao);
}

.navegacao {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    background-color: black;
    padding: 30px;
    width: 100vw;
}





a {
    text-decoration: none;
    font-family: var(--font-destaque);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 0px 20px;
    color: white;
    
}

.cabecalho {
    display: flex;
    width: 100vw;
    background-color: black;
    height: 80vh;
}

.efeito {
    display: flex;
    text-align: center;
    background-color: white;
    width: 100px;
    height: 100px;
}