* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, #00187A, #0028C7);
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-image: linear-gradient(45deg, #00187A, #0028C7);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.26);
}

header .navbar {
    width: 80%;
    margin: 30px auto 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header .back {
    position: relative;
    top: 30%;
    right: 10%;
}

.navbar .logo {
    width: 0px;
    height: 0px;
}

.navbar .logo img {
    width: 0%;
    height: 0%;
}   
.navbar .menu {
    display: flex;
    
}

.navbar .menu li {
    list-style: none;
    margin: 0 20px;

}

.navbar .menu li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #4B6EFB;
}

.navbar .menu li a:hover {
    color: white;
}

.content {
    position: absolute;
    top: 40%;
    left: 7%;
    color: white;
}

.content .text {
    font-size: 36px;
    color: #aabbff;
}

.content .name {
    font-size: 48px;
    color: #aabbff;
    margin: -15px 0 0 -3px;
}

.content .job {
    font-size: 24px;
    color: #aabbff;
    display: flex;
}

.content .job .type-text {
    color: #67faff;
    margin-left: 10px;
    white-space: wrap;

}